<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-3level %logger{5} - %msg %n</Pattern>
        </layout>
    </appender>
   

	<!-- 내가 개발한 application -->
	<!-- console 에만 출력해라 -->
	<logger name="com.ssafy.homesns" level="DEBUG" appender-ref="console" />

    <root level="INFO">
    	<appender-ref ref="console" />
    </root>
</configuration>